.card {
  text-align: center;
  font-size: 20px;
  border-bottom: 2px solid #8a2b06;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-img {
  width: 15%;
}
.actions {
  display: flex;
  flex-direction: column;
  
}
.actions button {
  font: inherit;
  font-weight: bold;
  font-size: 1.25rem;
  color: #8a2b06;
  border: 1px solid #8a2b06;
  width: 3rem;
  text-align: center;
  border-radius: 6px;
  background-color: transparent;
  cursor: pointer;
  margin-left: 1rem;
  margin: 0.25rem;
  height: 3rem;
}
.actions button:hover,
.actions button:active {
  background-color: #8a2b06;
  color: white;
}
@media (min-width: 768px) {
  .actions {
    flex-direction: row;
  }
}
