header {
    height: 5rem;
    background-color: rgb(13 15 51);
    margin: 0;
    width: 100%;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
    z-index: 99;
  }
  .header-brand {
    margin-left: 10rem;
  }
  .header-cart {
    margin-right: 10rem;
  }
  
  
  .header-image {
    width: 100%;
    height: 25rem;
    z-index: 0;
    overflow: hidden;
  }
  .header-image img {
    width: 110%;
    height: 100%;
    object-fit: cover;
    transform: rotateZ(0deg) translateY(5rem) translateX(-5rem);
  }